@import "tailwindcss";
@plugin "daisyui";

:root {
--color-primary: #2b7fff;
--color-border: #b4b8c0;  /*#6a7282;; white border #d1d5dc */
}
/* input style */
.input-style {
  @apply px-3 py-2 border border-[var(--color-border)] rounded-lg focus:outline-none    
}